:root {
    --orangeYellow: f2bb05;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Override the default bootstrap background color when hovering over a table row*/
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.175);
}
/*Set the width of input-group when a add-on or buttont is used to allign the input field with the rest of the form*/
.input-group-width{
    width:280px;
}
.body-index{
    padding-top: 20px;
}
/*Force color of navbar text to be Flame*/
.navbar-text-flame a, .navbar-text-flame a:hover, .navbar-text-flame a:focus{
    color: #ef8513 !important;
}
/*Override default bootstrap thead-dark*/
.thead-dark th{
    background-color: #2b2d42 !important;
    color: #ef8513 !important;
}
/*Override default bootstrap striped table*/
.table-striped tbody tr:nth-of-type(even) {
    background-color: #8d99ae;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #7c8aa2;
}


.bg-aliceBlue{
    background-color: #edf2f4;
}
.bg-manatee{
    background-color: #8d99ae;
}
.bg-spaceCadet{
    background-color: #2b2d42 !important;
}
.bg-flame{
    background-color: #ec4e20;
}
.bg-orangeYellow {
    background-color: f2bb05;
}
.bg-Tangerine{
    background-color: #ef8513;
}
.text-aliceBlue {
    color: #edf2f4;
}

.text-manatee {
    color: #8d99ae;
}

.text-spaceCadet {
    color: #2b2d42;
}

.text-flame {
    color: #ec4e20;
}

.text-orangeYellow {
    color: f2bb05;
}

.text-Tangerine {
    color: #ef8513;
}

.badge-aliceBlue {
    background-color: #edf2f4;
    color: #fff;
}

.badge-manatee {
    background-color: #8d99ae;
    color: #fff;
}

.badge-spaceCadet {
    background-color: #2b2d42;
    color: #fff;
}

.badge-flame {
    background-color: #ec4e20;
    color: #fff;
}

.badge-orangeYellow {
    background-color: #f2bb05;
    color: #fff;
}

.badge-Tangerine {
    background-color: #ef8513;
    color: #fff;
}

.btn-aliceBlue {
    color: #fff;
    background-color: #edf2f4;
    border-color: #edf2f4;
}

.btn-aliceBlue:hover {
    color: #fff;
    background-color: #d9e4e8;
    border-color: #d9e4e8;
}

.btn-aliceBlue:focus, .btn-aliceBlue.focus {
    color: #fff;
    background-color: #d9e4e8;
    border-color: #d9e4e8;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-manatee {
    color: #fff;
    background-color: #8d99ae;
    border-color: #8d99ae;
}

.btn-manatee:hover {
    color: #fff;
    background-color: #7c8aa2;
    border-color: #7c8aa2;
}

.btn-manatee:focus, .btn-manatee.focus {
    color: #fff;
    background-color: #7c8aa2;
    border-color: #7c8aa2;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-spaceCadet {
    color: #fff;
    background-color: #2b2d42;
    border-color: #2b2d42;
}

.btn-spaceCadet:hover {
    color: #fff;
    background-color: #202231;
    border-color: #202231;
}

.btn-spaceCadet:focus, .btn-spaceCadet.focus {
    color: #fff;
    background-color: #202231;
    border-color: #202231;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-orangeYellow {
    color: #fff;
    background-color: #f2bb05;
    border-color: #f2bb05;
}

.btn-orangeYellow:hover {
    color: #fff;
    background-color: #c89a04;
    border-color: #c89a04;
}

.btn-orangeYellow:focus, .btn-orangeYellow.focus {
    color: #fff;
    background-color: #c89a04;
    border-color: #c89a04;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-Tangerine {
    color: #fff;
    background-color: #ef8513;
    border-color: #ef8513;
}

.btn-Tangerine:hover {
    color: #fff;
    background-color: #d2730f;
    border-color: #d2730f;
}

.btn-Tangerine:focus, .btn-Tangerine.focus {
    color: #fff;
    background-color: #d2730f;
    border-color: #d2730f;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-Flame {
    color: #fff;
    background-color: #ec4e20;
    border-color: #ec4e20;
}

.btn-Flame:hover {
    color: #fff;
    background-color: #e14414;
    border-color: #e14414;
}

.btn-Flame:focus, .btn-Flame.focus {
    color: #fff;
    background-color: #e14414;
    border-color: #e14414;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

