.bg-aliceBlue {
  background-color: #edf2f4 !important; }

.text-aliceBlue {
  color: #edf2f4 !important; }

.badge-aliceBlue {
  background-color: #edf2f4 !important;
  color: #fff; }

.btn-aliceBlue {
  color: #fff;
  background-color: #edf2f4;
  border-color: #edf2f4; }

.btn-aliceBlue:hover {
  color: #fff;
  background-color: #c0d2d9;
  border-color: #c0d2d9; }

.btn-aliceBlue:focus, .btn-aliceBlue.focus {
  color: #fff;
  background-color: #c0d2d9;
  border-color: #c0d2d9;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.bg-manatee {
  background-color: #8d99ae !important; }

.text-manatee {
  color: #8d99ae !important; }

.badge-manatee {
  background-color: #8d99ae !important;
  color: #fff; }

.btn-manatee {
  color: #fff;
  background-color: #8d99ae;
  border-color: #8d99ae; }

.btn-manatee:hover {
  color: #fff;
  background-color: #71809a;
  border-color: #71809a; }

.btn-manatee:focus, .btn-manatee.focus {
  color: #fff;
  background-color: #71809a;
  border-color: #71809a;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.bg-spaceCadet {
  background-color: #2b2d42 !important; }

.text-spaceCadet {
  color: #2b2d42 !important; }

.badge-spaceCadet {
  background-color: #2b2d42 !important;
  color: #fff; }

.btn-spaceCadet {
  color: #fff;
  background-color: #2b2d42;
  border-color: #2b2d42; }

.btn-spaceCadet:hover {
  color: #fff;
  background-color: #252638;
  border-color: #252638; }

.btn-spaceCadet:focus, .btn-spaceCadet.focus {
  color: #fff;
  background-color: #252638;
  border-color: #252638;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.bg-orangeYellow {
  background-color: #f2bb05 !important; }

.text-orangeYellow {
  color: #f2bb05 !important; }

.badge-orangeYellow {
  background-color: #f2bb05 !important;
  color: #fff; }

.btn-orangeYellow {
  color: #fff;
  background-color: #f2bb05;
  border-color: #f2bb05; }

.btn-orangeYellow:hover {
  color: #fff;
  background-color: #ce9f04;
  border-color: #ce9f04; }

.btn-orangeYellow:focus, .btn-orangeYellow.focus {
  color: #fff;
  background-color: #ce9f04;
  border-color: #ce9f04;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.bg-Tangerine {
  background-color: #ef8513 !important; }

.text-Tangerine {
  color: #ef8513 !important; }

.badge-Tangerine {
  background-color: #ef8513 !important;
  color: #fff; }

.btn-Tangerine {
  color: #fff;
  background-color: #ef8513;
  border-color: #ef8513; }

.btn-Tangerine:hover {
  color: #fff;
  background-color: #cd710e;
  border-color: #cd710e; }

.btn-Tangerine:focus, .btn-Tangerine.focus {
  color: #fff;
  background-color: #cd710e;
  border-color: #cd710e;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

/*Force color of navbar text to be Flame*/
.navbar-text-flame a, .navbar-text-flame a:hover, .navbar-text-flame a:focus {
  /*color: map-get($colors,"Tangerine") !important;*/ }

/*Override default bootstrap thead-dark*/
.thead-dark th {
  background-color: #2b2d42 !important;
  /*color: map-get($colors, "Tangerine") !important;*/ }

/*Override default bootstrap striped table*/
.table-striped tbody tr:nth-of-type(even) {
  background-color: #edf2f4; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #cfdce2; }

/*Override the default bootstrap background color when hovering over a table row*/
.table-hover tbody tr:hover {
  background-color: #c0d2d9; }

table tr.disabled > td {
  opacity: 0.4;
  cursor: no-drop;
  background-color: #edf2f4 !important; }

.text-stroke {
  -webkit-text-stroke: 0.5px #f2bb05; }

/* Override Bootstrap default color for checkbox*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #ef8513;
  background-color: #ef8513; }
